﻿/*****************************************************************************************************/
/*****************************************************************************************************/

#h2_login{
 background-image: url("/images/h2_background.jpg");
 font-family: 'Baloo Bhaina', cursive;
 padding: 30px 35px;
 margin: -10px -50px;
 text-align:center;
 border-radius: 10px 10px 0 0;
}
 
hr{
 margin: 10px -50px;
 border: 0;
 border-top: 1px solid #ccc;
 margin-bottom: 40px;
}
 
div.container{
 width: 900px;
 height: 610px;
 margin:35px auto;
 font-family: 'Raleway', sans-serif;
}
 
div.main{
 width: 300px;
 margin-left: 250px;
 padding: 10px 50px 25px;
 border: 2px solid gray;
 border-radius: 10px;
 font-family: raleway;
 float:center;
 margin-top:80px;
}
 
#username{
 font-family: 'Baloo Bhaina', cursive;
 width: 100%;
 height: 40px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #4f4f4f;
 font-size: 16px;
 border-radius: 5px;
}

#password{
 font-family: 'Baloo Bhaina', cursive;
 width: 100%;
 height: 40px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #4f4f4f;
 font-size: 16px;
 border-radius: 5px;
}

label{
 font-family: 'Baloo Bhaina', cursive;
 color: #464646;
 text-shadow: 0 1px 0 #fff;
 font-size: 14px;
 font-weight: bold;
}

center{
 font-size:32px;
}

.note{
 color:red;
}
 
.valid{
 color:green;
}

.back{
 text-decoration: none;
 border: 1px solid rgb(0, 143, 255);
 background-color: rgb(0, 214, 255);
 padding: 3px 20px;
 border-radius: 2px;
 color: black;
}
 
#submit{
 font-family: 'Baloo Bhaina', cursive;
 font-size: 16px;
 background-color: #FF7D1B;
 border: 1px solid #e5a900;
 color: #FFFFFF;
 font-weight: bold;
 cursor: pointer;
 width: 100%;
 border-radius: 5px;
 padding: 10px 0;
 outline:none;
}
 
#submit:hover{
 background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

.fugo{
 float:right;
}

/*****************************************************************************************************/
/*****************************************************************************************************/
html{
    background-image: url("/images/wallpaper.png");
    background-repeat: repeat;
}

body {
    background-color:#EEEEEE;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 14px;
    color: black;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 7px;
    height: 1500px;
}

#search_tag {
    vertical-align: middle;
    /*position: relative;*/
    float: right;
    padding-right: 20px;
}

#btn_s, #btn_s2 {
    margin-left: 900px;
    margin-right: auto;
}

#btn_delete {
    position: absolute;
    margin-top: 50px;
    margin-left: 1000px;
    margin-right: auto;
    background-color: #FF7D1B;
    border-width: 2px;
    color: white;
    float: right;
    font-size: 12px;
    text-align: center;
    font-family: 'Bree Serif', Georgia, serif;
}

#add_new_btn {
    position: absolute;
    margin-top: 100px;
    margin-left: 1000px;
    margin-right: auto;
    background-color: #FF7D1B;
    border-width: 2px;
    color: white;
    float: right;
    font-size: 12px;
    text-align: center;
    font-family: 'Bree Serif', Georgia, serif;
}

#log_out_btn{
    position: absolute;
    margin-left: 1000px;
    margin-right: auto;
    margin-top: 0px;
    background-color: #FF7D1B;
    border-width: 2px;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: 'Bree Serif', Georgia, serif;
}

#btn_delete:hover {
    border-color: white;
}

#admin {
    position: absolute;
    margin-left: 1070px;
    margin-right: auto;
    margin-top: -100px;
    background-color: #FF7D1B;
    border-width: 2px;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: 'Bree Serif', Georgia, serif;
}



#admin:hover {
    border-color: white;
}

h1 {
    background-image: url("/images/h2_background.jpg");
    background-repeat: repeat;
    text-align: center;
    font-family: 'Baloo Bhaina', cursive;
    color: white;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#wrap{ width:100%; min-height:1200px; top:0px; bottom:0px;}
#wrap ul{ margin:0px; padding:0px; width: 700px;text-align:center;  }

#wrap .detail-view {
    background: none repeat scroll 0 0 #F3F4EE;

    
    border: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    left: 0;
	height:380px;
    overflow: hidden;
	clear:both;
	display:none;
	margin-left:13px;
	margin-bottom:15px;
    width: 96%;
}

#category_nav {
    margin-left: 30px;
    border-style: solid;
    border-color: gray;
    border-width: thin;
    font-family: 'Baloo Bhaina', cursive;
    color: white;
    margin-top: 0px;
    width: 260px;
    /*margin-right: 700px;*/
	z-index: 7;
	font-size: 16px;
	line-height: 1.2;
}

#category_nav ul, #category_nav li {
    /*font-family: 'Bree Serif', Georgia, serif;*/
    /*font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;*/
    font-family: 'Baloo Bhaina', cursive;
    list-style: none;
    text-decoration: none;
}

#category_nav li :before {
    /*content: "\2192\0020";*/
}

#category_nav li :hover {
    background: #FF7D1B;
    color: white;
}

#category_nav a {
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: thin;
    color: gray;
	display: block;
	margin-top: 20px;
	padding: 5px 0px 5px 0px;
    cursor: pointer;
}

h2, h3 {
    background-image: url("/images/h2_background.jpg");
    /*background-color: #ca1818;*/
    color: white;
    font-size: 22px;
    text-align: center;
    font-family: 'Baloo Bhaina', cursive;
    font-style: oblique;
   /* font-family: 'Bree Serif', Georgia, serif;*/
    margin-top: 0px;
    padding: 15px;
}

article {
    border-style: solid;
    border-color: gray;
    border-width: thin;
    /*position: absolute;*/
    width: 770px;
    height: 1200px;
    margin-left: 260px;
    margin-right: 100px;
    margin-top: -427px;
}

article2 {
    border-style: solid;
    border-color: gray;
    border-width: thin;
    background-color: #EEEEEE;
    position: absolute;
    width: 1170px;
    height: 1700px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

h4 {
    background-image: url("/images/h2_background.jpg");
    background-repeat: repeat;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Baloo Bhaina', cursive;
    margin-top: 100px;
    padding: 20px;
}

#button_add{
    vertical-align: middle;
    position: relative;
    font-family: 'Bree Serif', Georgia, serif;

}

#btn_s1 {
    position: absolute;
    margin-right: auto;
    margin-top: 70px;
    margin-left: -150px;
    background-color: #FF7D1B;
    border-width: 2px;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: 'Bree Serif', 'Georgia', 'serif';
}

#btn_s1:hover {
    border-color: white;
}

#name {
    margin-top: 17px;
    margin-left: 500px;
    margin-right: auto;
}
#image {
    margin-top: 19px;
    margin-left: 500px;
    margin-right: auto;
}
#category {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: auto;
}
#cat {
    margin-top: 21px;
    margin-left: 500px;
    margin-right: auto;
}
#desc {
    margin-top: 23px;
    margin-left: 500px;
    margin-right: auto;
}
#sizes {
    margin-top: 25px;
    margin-left: 500px;
    margin-right: auto;
}
#price {
    margin-top: 27px;
    margin-left: 500px;
    margin-right: auto;
}

#adding_item {
    margin-top: 30px;
}

#wrap .detail-view {
    background-color: white;
}

#wrap .detail-view .close{ text-align:right; width:98%; margin:5px; }
#wrap .close a{ padding:6px; height:10px; width:20px; color:#525049; }
#wrap .detail-view .detail_images{ float:left}

#wrap .detail-view .detail_info{ 
	float:right;
	font-family: "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif; 
	color:#525049;
	margin-right:20px;
	margin-top:30px;
	text-align:justify;
	width:250px;
	font-size:12px;
}



#wrap .detail-view .detail_Size{ 
	float:right;
	font-family: "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif; 
	color:#525049;
	margin-right:20px;
	margin-top:30px;
	text-align:justify;
	width:250px;
	font-size:12px;
}
#wrap .detail-view .detail_desc label{ font-size:12px;text-transform:uppercase; letter-spacing:1px; line-height:60px;} 

#wrap .detail-view .detail_desc p{ height:110px;}

#wrap .detail-view .detail_desc{ 
	float:right;
	font-family: "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif; 
	color:#525049;
	margin-right:20px;
	margin-top:30px;
	text-align:justify;
	width:250px;
	font-size:12px;
}
#wrap .detail-view .detail_Size label{ font-size:12px;text-transform:uppercase; letter-spacing:1px; line-height:60px;} 

#wrap .detail-view .detail_Size p{ height:110px;}

#wrap .detail-view .detail_info label{ font-size:12px;text-transform:uppercase; letter-spacing:1px; line-height:60px;} 

#wrap .detail-view .detail_info p{ height:110px;}

a#show_cart{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E8E7DC;
    cursor: pointer;
	display:block;
    display: inline-block;
    font: 9px/21px "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif;
    letter-spacing: 2px;
    color:#525049;
	padding:8px;
	text-decoration:none;
	
    text-transform: uppercase;
}


.add-to-cart-button:hover {
    background: none repeat scroll 0 0 #F8F8F3;
}

.show-track-list-button{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E8E7DC;
    cursor: pointer;
    display: inline-block;
    font: 9px/21px "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif;
    letter-spacing: 2px;
    padding-top: 10px;color:#525049;
	margin-top:15px;
    text-transform: uppercase;
}
.shopp{background: none repeat scroll 0 0 #F8F8F3;}

#wrap ul li{
    
    background-color: white;
	list-style-type:none; 
	height:156px;
	width:160px;
	margin-left:20px; 
	margin-bottom:15px; 
	float:left;
	padding:15px 0px 0px 0px;
	font-family:"LubalGraphBdBTBold",Tahoma;
	font-size:2em;
	border:solid #fff 1px; 
	overflow:hidden;
}

.footer{ height:400px; background:#E2E2E2} 

#wrap ul li:hover{ border:solid #f3f4ee 1px; }

#wrap ul li div{ 

	height:31px;
	text-align:center;
	width:160px;
	margin-top:10px;
	position:relative;
	bottom:0px;
	padding-top:6px;
	padding-bottom:4px;
	background:#f3f4ee ;
	font: 12px/21px "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif;
	opacity:0.8;
	color: #525049 ;
	text-shadow: 0px 2px 3px #555;
}

img#cart{bottom:0px;position:fixed; margin-left:30px; /* keep the bar on top  */}

#wrap ul li { cursor:pointer;}

#cart_wrapper { 
	border:solid #E8E7DC 1px; 
	min-height:120px;
	width:100%;
	padding-top:15px;
	display:none;
    background:#E2E2E2;
	font: 12px/21px "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif;
    
	/*position:relative*/
}


#Submit {
  height: 78px;
  float:left;
}

.closeCart{ cursor:pointer;}

button {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E8E7DC;
	width:140px;
    cursor: pointer;
    display: inline-block;
    font: 9px/21px "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif;
    letter-spacing: 2px;
    padding-top: 12px;color:#525049;
	margin-top:1px;
	border:solid #ccc 1px; padding:8px; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	margin-left:20px;
    text-transform: uppercase;
}

button:hover {
    background: none repeat scroll 0 0 #F8F8F3;
}

.cart-total{background: none repeat scroll 0 0 #F8F8F3;}

.shopp,.cart-total{ 
	border:solid #E8E7DC 1px; padding:8px; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px; font-size:12px;
	background:url("/images/remove.png") center right no-repeat 5px;
	border-radius: 8px; 
	font-family:"LubalGraphBdBTBold",Tahoma; 
	margin-top:3px;
	width:320px;
	float:left;
	}

#cart_form{ width:570px; padding-left:15px;}

div.shopp span{ float:left;}	
div.shopp div.label{ width:130px; float:left; }		
div.shopp div.shopp-price{ width:70px; float:left;}
.quantity{ float:left; margin-top:-3px; width:20px;}

img.remove{float:right;cursor:pointer;}
.cart-total b{width:130px;}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.visible>div {
    display:block;
}

#wrap2 .detail-view .close{ text-align:right; width:98%; margin:5px; }
#wrap2 .close a{ padding:6px; height:10px; width:20px; color:#525049; }
#wrap2 .detail-view .detail_images{ float:left}

#wrap2 .detail-view .detail_info{ 
	float:right;
	font-family: "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif; 
	color:#525049;
	margin-right:20px;
	margin-top:30px;
	text-align:justify;
	width:250px;
	font-size:12px;
}



#wrap2 .detail-view .detail_Size{ 
	float:right;
	font-family: "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif; 
	color:#525049;
	margin-right:20px;
	margin-top:30px;
	text-align:justify;
	width:250px;
	font-size:12px;
}
#wrap2 .detail-view .detail_desc label{ font-size:12px;text-transform:uppercase; letter-spacing:1px; line-height:60px;} 

#wrap2 .detail-view .detail_desc p{ height:110px;}

#wrap2 .detail-view .detail_desc{ 
	float:right;
	font-family: "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif; 
	color:#525049;
	margin-right:20px;
	margin-top:30px;
	text-align:justify;
	width:250px;
	font-size:12px;
}
#wrap2 .detail-view .detail_Size label{ font-size:12px;text-transform:uppercase; letter-spacing:1px; line-height:60px;} 

#wrap2 .detail-view .detail_Size p{ height:110px;}

#wrap2 .detail-view .detail_info label{ font-size:12px;text-transform:uppercase; letter-spacing:1px; line-height:60px;} 

#wrap2 .detail-view .detail_info p{ height:110px;}

#wrap2 ul li{
 
	list-style-type:none; 
	height:156px; 
	width:160px; 
	margin-left:10px; 
	margin-bottom:15px; 
	float:left;
	padding:15px 0px 0px 0px;
	font-family:"LubalGraphBdBTBold",Tahoma;
	font-size:2em;
	border:solid #fff 1px; 
	overflow:hidden;
}

#wrap2 ul li:hover{ border:solid #f3f4ee 1px; }

#wrap2 ul li div{ 

	height:31px;
	text-align:center;
	width:160px;
	margin-top:10px;
	position:relative;
	bottom:0px;
	padding-top:6px;
	padding-bottom:4px;
	background:#f3f4ee ;
	font: 12px/21px "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,sans-serif;
	opacity:0.8;
	color: #525049 ;
	text-shadow: 0px 2px 3px #555;
}

#wrap2 ul li { cursor:pointer;}

.size_button { cursor:pointer;}
.desc_button { cursor:pointer;}
.info_button { cursor:pointer;}